main = "./src/index.ts"
compatibility_date = "2022-11-11"

workers_dev = true
node_compat = true
minify = true
usage_model = "bundled"

[env.dev]
name = "liquidation-bot-dev"

[env.dev.vars]
ZERO_EX_SWAP_URL = 'https://arbitrum.api.0x.org/swap/v1/quote'
NETWORK = 'ArbitrumOne'
FLASH_LIQUIDATOR_CONTRACT = '0xd754329B32e3221C4Abe05b7C1a56989CA7578E3'
FLASH_LIQUIDATOR_OWNER = '0xE6FB62c2218fd9e3c948f0549A2959B509a293C8'
FLASH_LENDER_ADDRESS = '0x794a61358D6845594F94dc1DB02A252b5b4814aD'
FLASH_LOAN_BUFFER = '1005'
NOTIONAL_PROXY_CONTRACT = '0x1344A36A1B56144C3Bc62E7757377D288fDE0369'
DUST_THRESHOLD = '100000000000000'
EXACT_IN_SLIPPAGE_LIMIT = '980'
EXACT_OUT_SLIPPAGE_LIMIT = '1020'
GAS_COST_BUFFER = '1000'
PROFIT_THRESHOLD = '-579531698874532'

[env.dev.durable_objects]
bindings = [
  { name = "ACCOUNT_CACHE", class_name = "AccountCache", script_name = "accounts-dev" }
]

[env.beta]
name = "liquidation-bot-beta"

[env.prod]
name = "liquidation-bot"
