# Add files here to ignore them from prettier formatting

/dist
/coverage
.github
/packages/contracts/src/types
/packages/transaction/src/parser/bundle.ts
/apps/**/dist
/apps/analytics/.next
/apps/analytics/.vercel
packages/**/.graphclient
.nx-cache
.nx
