main = "./src/index.ts"
compatibility_date = "2022-11-11"

workers_dev = true
node_compat = true
minify = true
logpush = true

[env.dev]
name = "registry-configuration-dev"

[env.dev.vars]
NX_ENV = 'dev'
# This is version that defines the durable object to retreive, increment it to reset
# the durable object to a clean version
VERSION = 'v1'
SUPPORTED_NETWORKS = [ 'arbitrum', 'all', 'mainnet' ]

[env.dev.durable_objects]
bindings = [
  { name = "CONFIGURATION_REGISTRY_DO", class_name = "ConfigurationRegistryDO" },
]

# Experimental Prod Version Using R2

[env.prod]
name = "registry-configuration-prod"
r2_buckets = [
  { binding = "VIEW_CACHE_R2", bucket_name = "view-cache-r2", preview_bucket_name = "view-cache-r2-dev" },
]

[env.prod.triggers]
crons = ["* * * * *"]

[env.prod.vars]
NX_ENV = 'prod'
SUPPORTED_NETWORKS = [ 'arbitrum', 'all', 'mainnet' ]
