account_id = '274f86c6dcfbb77c09e49e86d101c753'
main = "./src/index.ts"
compatibility_date = "2022-11-11"

workers_dev = true
node_compat = true
minify = true
logpush = true


[env.dev]
name = "rewards-dev"
kv_namespaces = [
  { binding = "REWARDS_KV", id = "5d1577f627494c08ad97338960a5a4a8" }
]

[env.dev.vars]
NETWORKS = ["arbitrum", "mainnet"]

[triggers]
# Run two times every other hour, once to claim tokens and then again to reinvest
# reinvestment and claim will only happen once in specified reinvestment time window(in code)
# it is tightly coupled to how we are triggering claiming and reinvestment
crons = ["0 */2 * * *", "10 */2 * * *"]
