account_id = '274f86c6dcfbb77c09e49e86d101c753'
main = "./src/index.ts"
compatibility_date = "2022-11-11"

workers_dev = true
node_compat = true
minify = true
logpush = true


[env.dev]
name = "rewards-dev"

[env.dev.vars]
NETWORK = 'ArbitrumOne'
TREASURY_MANAGER_ADDRESS = '0x53144559c0d4a3304e2dd9dafbd685247429216d'
MANAGER_BOT_ADDRESS = '0xa28a0bA9633342793218D9bd8d92CBC52231361C'
# endpoint format is "/v1/txes/:relayerId", relayerId 0 is for arbitrum an 1 for mainnet
TX_RELAY_SEND_URL = "https://tx-relay-arbitrum-dot-monitoring-agents.uc.r.appspot.com/v1/txes/0"
ZERO_EX_API_URL = "https://arbitrum.api.0x.org/swap/v1/quote"
REINVEST_TIME_WINDOW_IN_HOURS=24

[env.beta]
name = "rewards-beta"

[env.prod]
name = "rewards"

[triggers]
# Run two times every other hour, once to claim tokens and then again to reinvest
# reinvestment and claim will only happen once in specified REINVEST_TIME_WINDOW_IN_HOURS
# it is tightly coupled to how we are triggering claiming and reinvestment
crons = ["0 */2 * * *", "10 */2 * * *"]
