main = "./src/index.ts"
compatibility_date = "2024-05-03"

workers_dev = true
node_compat = true
minify = true
logpush = true


[[migrations]]
tag = "v1"
new_classes = ["AccountCache"]

[[migrations]]
tag = "v2"
deleted_classes = ["AccountCache"]
new_classes = ["RegistryClientDO"]

[triggers]
crons = [ "*/5 * * * *" ]

[env.dev]
name = "accounts-dev"
r2_buckets = [
  { binding = "ACCOUNT_CACHE_R2", bucket_name = "account-cache-r2", preview_bucket_name = "account-cache-r2-dev" },
  { binding = "VIEW_CACHE_R2", bucket_name = "view-cache-r2", preview_bucket_name = "view-cache-r2-dev" },
]

[env.dev.durable_objects]
bindings = [
  { name = "REGISTRY_CLIENT_DO", class_name = "RegistryClientDO" },
]

[env.dev.vars]
NX_ENV = 'dev'
VERSION = 'v1'
NX_REGISTRY_URL = 'https://registry.notional.finance'
SUPPORTED_NETWORKS = ['mainnet', 'arbitrum', 'all']

[env.prod]
name = "accounts"
r2_buckets = [
  { binding = "ACCOUNT_CACHE_R2", bucket_name = "account-cache-r2" },
]
