main = "./src/index.ts"
compatibility_date = "2022-11-11"

workers_dev = true
node_compat = true
minify = true
usage_model = "bundled"

[env.dev]
name = "accounts-dev"

[env.beta]
name = "accounts-beta"

[env.prod]
name = "accounts"
