name: Deploy All Workers
on:
  push:
    branches:
      - v3/prod

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy All Workers
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - name: Deploy Workers
        shell: bash
        run: apps/deployWorkers.sh
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_WORKER_TOKEN }}
      - name: Install Tenderly
        run: curl https://raw.githubusercontent.com/Tenderly/tenderly-cli/master/scripts/install-linux.sh | sh
      - name: Login to Tenderly
        run: tenderly login --authentication-method access-key --access-key ${{ secrets.TENDERLY_API_KEY }}
      - name: Deploy Tenderly Actions
        run: yarn nx affected --target deploy-tenderly --base=v3/prod~1 --head=v3/prod