name: Deploy Registry Worker
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose an environment to deploy to: <dev|prod>'
        required: true
        default: 'dev'
      registry:
        description: 'Set a registry to deploy: <configuration|exchanges|oracles|tokens|vaults>'
        required: true
        default: ''
  push:
    branches:
      - alpha/arbitrum

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment || 'dev' }}
    name: Deploy Registry
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'
      - run: yarn install --frozen-lockfile

      - name: Wrangler Publish
        shell: bash
        run: |
          yarn nx run-many --target=publish-wrangler --projects=registry-${{ github.event.inputs.registry }} --env ${{ github.event.inputs.environment || 'dev' }} --var NX_COMMIT_REF:${{ github.sha }}
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_WORKER_TOKEN }}